# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Config
# config.json
# Build
build/
dist/
*.spec
ui/node_modules/
ui/dist/

# Virtual Env
.venv/


local_rag_db/

RELEASE_NOTES.md
LOCAI_PROJECT_AUDIT.md

# User Data
userdata/
